// .navbar {
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
//   justify-content: center;
//   a {
//     margin: 30px 10px;
//   }
//   &__icon {
//     margin: 0 10px;
//   }
// }
.icon {
  text-align: center;
}
.animate-small {
  animation-name: smallNav;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes smallNav {
  from {
    // width: 127px;
    opacity: 0;
  }
  to {
    width: 65px;
    opacity: 1;
  }
}
