.navbar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  &__link {
    padding: 15px 20px;
    margin: 14px 0;
  }
  li {
    list-style: none;
  }
  .active {
    color: var(--pink-color) !important;
    font-weight: 700;
  }
}
