@import "../../assets/scss/screen_brakpoints.module";

.resume {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 40px 20px;

  &__container {
    display: flex;
    flex-direction: column;
    // width: 90%;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  &__title::after,
  &__title::before {
    content: "";

    width: 44px;
    height: 3px;
    border-radius: 50px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -3px;
    left: calc(53.5% - 44px);
    right: 0;
  }
  &__title::before {
    width: 22px;
    bottom: -10px;
    left: calc(53.5% - 33px);
  }
  &__title {
    text-align: center;
    color: var(--main-color);
    position: relative;
    margin-bottom: 30px;
  }
}
@media ($md-screen) {
  .resume {
    &__title {
      text-align: start;
    }
    &__title::after,
    &__title::before {
      left: 0;
    }
  }
}
@media ($lg-screen) {
  .resume__container {
    width: 90%;
  }
}
