.card__container {
  width: 80%;
  padding: 10px;
  display: flex;
  margin: 0 20px;
  flex-direction: column;
  .card__description {
    flex-grow: 1;
  }
  min-height: 100%;
  .card__img {
    border: 2px solid var(--sec-color);
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
  }
  a {
    h2 {
      margin-top: 15px;
      text-align: center;
      font-size: 1.3rem;
    }
  }
  p {
    margin-top: 10px;
    font-size: 0.9rem;
  }
  .card__techns {
    display: flex;
    gap: 0.5rem;
    margin-top: 10px;
    flex-wrap: wrap;
    figure {
      width: 30px;
      img {
        max-width: 100%;
      }
    }
  }
}
.card__container:hover {
  border: 1px solid transparent;
  border-radius: 20px;
  transform: translateY(-1.4rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
