@import "../../assets/scss/screen_brakpoints.module";
.projects {
  // max-width: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  h2 {
    margin-top: 40px;
    margin-left: 20px;
  }

  &__title::after,
  &__title::before {
    content: "";
    width: 44px;
    height: 3px;
    border-radius: 50px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -3px;
    left: calc(53.5% - 44px);
  }
  &__title::before {
    width: 22px;
    bottom: -10px;
    left: calc(53.5% - 33px);
  }
  &__title {
    text-align: center;
    color: var(--main-color);
    position: relative;
    margin-bottom: 30px;
  }
  .react-multiple-carousel__arrow--right {
    right: 5px;
  }
  .react-multiple-carousel__arrow {
    background-color: transparent;
  }
  .react-multiple-carousel__arrow--left {
    left: 0;
  }
  .react-multiple-carousel__arrow:hover {
    background: #d9d6d6;
  }
  .react-multiple-carousel__arrow::before {
    font-size: 30px;
    color: var(--main-color);
  }
  .react-multi-carousel-item {
    display: flex;
    justify-content: center;
  }
}
.react-multi-carousel-list {
  flex-grow: 1;
  padding: 0 1%;
}
@media ($md-screen) {
  .projects {
    &__title {
      text-align: start;
    }
    &__title::after,
    &__title::before {
      left: 0;
    }
  }
}
