input,
textarea {
  background-color: #f9f4f0;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}
input:focus-visible {
  outline: none;
}
input:focus {
  border: 2px solid var(--pink-color);
}
label {
  color: var(--main-color);
  font-size: 0.9rem;
  padding-top: 10px;
}
textarea {
  resize: none;
  min-height: 80px;
}
